// Main Colors
$primary: #0a1f44;
$secondary: #26a9e0;
$info: #26A9E0;
$success: #4DB757;
$danger: #F05B55;
$warning: #FCB813;

// Text Colors
$text-light: #8A94A6;

// Gray(bg) Colors
$gray: rgb(177 189 202);

// Shadows
%shadow {
    box-shadow: 0 1px 4px 0 rgba(10, 22, 70, 0.16);
}
